@font-face {
  font-family: 'Satoshi';
  src: url('../font/') format('woff2'),
      url('../font/Satoshi-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../font/Satoshi-Regular.woff2') format('woff2'),
      url('../font/Satoshi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
  font-family: 'satoshi';
}
.form-check-input:focus{
  box-shadow: unset;
}
.form-control:focus{
  box-shadow: none;
}
body{
  /* background-color: #DB006A; */
  position: relative;
/* top: 60%;
left: 42%; */
/* transform: translate(-50%,-50%); */

}

/* ..................loader css.................*/

.loader{
  width: 100%;
  height: 100vh;
  background-color: #DB006A;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.loader-screen{
 
  position: relative;
height: 8px;
width: 21%;
background-color: #ED80B5;
/* border: 10px solid #ED80B5; */
border-radius: 15px;
z-index: 999;
top: 300px;
left: 0;
right: 0;
bottom: 0;
margin: auto;

}
.loader-screen img{
  position: fixed;
top: -20%;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}
#loader{
  position: relative;
background-color: #ffffff;
width: 0px;
height: 7px;
border-radius: 15px;
animation: progres 4s infinite linear;
/* top: 50%; */
/* left: 50%; */
/* right: 0px; */
z-index: 99;
}
@keyframes progres{
0%{
  width: 0%;
}
25%{
    width: 50%;
}
50%{
    width: 75%;
}
75%{
    width: 85%;
}
100%{
    width: 100%;
}
};
.loader{
width: 100%;
height: auto;
margin: auto;
position: relative;
}

/*................index.html page css................*/


.top-header .navbar-brand
{
width: 100%;
height: auto;
display: flex;
justify-content: center;
}
.navbar-brand img{
width: 160px;
height: auto;
}
.main-slider{
position: relative;
width: 100%;
height: auto;
}
.single-item{
width: 100%;
height: auto;
}
.owl-carousel .owl-nav{
display: block;
}

.owl-carousel button.owl-dot{
  background: rgba(182, 194, 206, 0.5);
  height: 4px;
  width: 10px;
  border-radius: 44px;
  margin-right: 10px;
}
.owl-carousel button.owl-dot.active {
  background: #DB006A;
  width: 20px;
height: 4px;
}
.single-item{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.slide-1{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  
}

.slide-2{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  
}
.slide-3{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  
}
.slide-4{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  
}
.slider-image{
  width: 100%;
  height: auto  ;
  display: flex;
  justify-content: center;
}
.owl-carousel .owl-item img  {
  width: auto;
  height: 100%;
  
}
.slide-content{
  width: 100%;
  height: auto;
  display: flex;
 text-align: center;
  flex-direction: column;
}
.slide-content h4{
  color: #28224B;
  font-family: 'Satoshi';
  font-weight:bold;
}
.slide-content p{
  color:#7B808D;
  font-family: 'Satoshi';
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}
.owl-dots{
  text-align: center;
}
.owl-carousel .owl-nav button.owl-prev{
  background-color:#F3F5F7;
  width: 102px;
  height: 56px;
  padding: 10px 20px; 
  position:absolute;
  left: 20%;
  border-radius: 4px;
 
}
.owl-carousel .owl-nav button.owl-prev span
{
  color: #28224B;
  font-family: 'Satoshi';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

text-align: center;
}
.owl-carousel .owl-nav button.owl-next{
  background: #DB006A;
  width: 139px;
height: 56px;
padding: 16px 16px 16px 32px;
float: right;  
position:absolute;
right: 20%;
border-radius: 4px;
}
.owl-carousel .owl-nav button.owl-next span i{
 padding-left: 13px;
}
.owl-carousel .owl-nav button.owl-next span{
  font-family: 'Satoshi';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
}
.skip{
  width:10%;
  height: auto;
  position: absolute;
  right: 17%;
  top: 7%;
}
.skip a{
  color: #DB006A;
  font-family: 'Satoshi';
font-style: normal;
font-weight: 900;
font-size: 16px;
text-underline-offset: 0.25em;
}

@media only screen and (max-width:767px){
  .owl-nav .btn-back{
    display: none;
  }

  .owl-carousel .owl-nav button.owl-prev {
 background-color: unset;
  background-image: url(../images/arrow-left-svg.png) ;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.owl-nav{
  margin-top: 50px;
}
.owl-nav .btn-next{
display: none;
}
.owl-carousel .owl-nav button.owl-next {
  background-image: url(../images/arrow-right-svg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 57% 63%;
  width: 46px;
  height: 41px;
  right: 2%;
  bottom: -42px;
}

.skip{
  width:20%;
  height: auto;
  position: absolute;
  left: 20px;
  bottom: -33px !important;
  right: unset;
  top: unset;
  margin-top: 50px;
}
.owl-dots{
  width: 100%;
  position: absolute;
  bottom: 125px;
  text-align: center;
}
.slide-content{
  margin-top: 40px;
}
}
@media only screen and (max-width:576px){
  .owl-carousel .owl-item img{
    width: 70%;
  }
}

/*....................... login.html page css.................... */

.form-login{
  width: 100%;
  height: 375px;
 position: relative;
 
}
.login-detail{
  display: flex;
justify-content: center;
}
.login-title{
 display: flex;
 justify-content: center;
}
.login-title h2{
  font-family: 'Satoshi';
  font-weight: bold;
}
.m-number{
  width: 60%;
  margin: 0px auto;
}
.m-number label{
  font-family:'satoshi';
  font-weight: normal;
  font-weight: 500;
  font-size: 14px;
  color: #7B808D;
}
.m-number input{
  font-family: 'satoshi';
  font-weight: 500;
  font-size: 16px;
  color:  #28224B;
  background-color: #F3F5F7;
  border-radius: 4px;
  padding: 15px 0px 15px 15px;
  border: unset;
}
.log-in-btn{
  width: 60%; 
  margin: 0px auto;
}
.log-in-btn button{
  width: 100%;
  background: rgba(182, 194, 206, 0.5);
  border-radius: 4px;
  text-align: center;
  padding: 15px 0px;
  border: unset;
  color: #fff;
  font-weight: bold;
}
.log-in-btn button:hover, .log-in-btn button:focus{
  background-color: #DB006A;
  border: unset;
}
.log-in-btn  a{
  font-family: 'satoshi';
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.register-link{
text-align: center;
margin-top: 100px;
}
.register-link span{
  color:  #7B808D;
  font-family: 'satoshi';
  font-size: 16px;
}
.register-link a{
  color:#DB006A;
  font-family: 'satoshi';
  font-size: 16px;
  font-weight: bold;
  text-underline-offset: .25em;
}
.bottom-images-section{
  width: 100%;
  /* width: 100%;
  height: auto;
  display: flex;
  flex-direction: row; */
  /* position: relative;
  bottom: 0; */
}
.bottom-1{
  width: 100%;
  height: auto;

}
.bottom-1 img{
  width: 100%;
  height: auto;

}
.bottom-2{
  width: 100%;
  height: auto;
}
.bottom-2 img{
  width: 100%;
  height: auto;
  margin-top: 28px;

}
.bottom-3{
  width: 100%;
  height: auto;
}
.bottom-3 img{
  width: 100%;
  height: auto;
  margin-top: 28px;
}
.bottom-4{
  width: 100%;
  height: auto;

}
.bottom-1 img{
  width: 100%;
  height: auto;
}
@media only screen and (max-width:768px){
  .bottom-images-section{
    display: none;
  }
  .log-in-btn{
    width: 70%;
  }
 .log-in-div{
   
    position: absolute;
    /* bottom: 0px; */
    /* margin: 0px auto; */
    bottom: 0;
    left: 0;
    right: 0;

  }
  .m-number{
    width: 100%;
  }
  .register-link{
    margin-top: 10px;
  }
}
@media only screen and (max-width:600px){
  .log-in-btn{
    width: 100%;
  }
}

/*................ about-you.html page css.............. */

.about-you-section{
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.about-title{
  display: flex;
  flex-direction: row;
}
.about-you-title{
  width: 100%;
  text-align: center;
}
.about-you-title h2{
  font-family: 'satoshi';
  font-weight: bold;
  color: #28224B;

}
.back-link-arrow{
width: 5%;
height: auto;
position: absolute;
left: 115px;

}
.back-link-arrow img{
  padding-top: 20px;
}
.about-form-details{
  width: 70%;
  height: auto;
  margin: 0px auto;
}
.about-f-name{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-detail label{
  font-family: 'satoshi';
  color: #7B808D;
  font-size: 14px;
  font-family: 500;
  padding-bottom: 10px;
}
.about-detail .form-control{
  width: 100%;
  background-color:#F3F5F7;
  padding: 15px ;
  border-radius: 4px;
  border: unset;
border-top-left-radius: 4px !important;
border-bottom-left-radius:4px !important ;
}
.email-number{
  margin-top: 1.1rem;
}
.term-condition{
  width: 100%;
  margin-top: 3rem;
}
.term-conditon-detail {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  
}
.term-conditon-detail p{
  font-family: 'satoshi';
  font-size: 14px;
color: #7B808D;
}
.term-conditon-detail p a{
  font-family: 'satoshi';
  font-size: 14px;
  color: #7B808D;
  font-weight: bold;
  text-underline-offset: .15em;
}
.term-conditon-detail .form-check label{
  font-family: 'satoshi';
  font-size: 14px;
  color: #28224B;
  font-weight: bold;
}
.term-conditon-detail .form-check-input:checked{
  background-color: #DB006A;
  border-color: #DB006A;
}
.about-save-continue-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.save-continue button{
  width: 100%;
  padding: 15px;
  background: rgba(182, 194, 206, 0.5);
  border-radius: 4px;
  border: unset;
}
.save-continue  a button{
  font-family: 'satoshi';
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.save-continue button:hover, .save-continue button:focus{
  background-color: #DB006A;
  color: #fff;
}

@media only screen and (max-width:992px){
  .about-form-details{
    width: 95%;
  }
}
@media only screen and (max-width:768px)
{
  .about-detail label{
    padding-top: 10px;
  }
  .about-you-section{
    margin-top: 1rem;
  }
  .back-link-arrow{
    left: 0px;
  }
  .back-link-arrow img{
    padding-top: 0px;
  }
  .about-you-title h2{
    margin-top: 25px;
  }
  .save-continue{
    width: 100%;
  }
}

/*.................... welcome.html page css................... */
.welcome-you-section{
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 3rem;
}
.welocome-title{
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}
.welcome-you-title{
  width: 100%;
  text-align: center;
}
.welcome-you-title h2{
  font-family: 'Satoshi';
  font-weight: bold;
  color: #28224B;
  display: flex;
  justify-content: center;
}
.welcome-you-title p{
  font-family: 'satoshi';
  font-size: 16px;
  color: #7B808D;
}

.welcome-btn button{
  margin-top: 3rem;
  padding: 15px 30px;
  background: rgba(182, 194, 206, 0.5);
  border-radius: 4px;
  border: unset;
}
.welcome-btn a button {
  color: #fff;
  text-decoration: none;
  font-family: 'satoshi';
  font-weight: bold;
}
.welcome-btn button:hover, .welcome-btn button:focus{
  background-color: #DB006A;
  border: unset;
  color: #fff;
}

.welcome-bottom-img{
  width: 100%;
  height: auto;
  position: relative;
}
.welcome-img{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.welcome-img img{
 width: auto;
 height: 100%;
}

/* ..................home_refill.html page css.......................*/

.profile-header{
  width: 100%;
  height: auto;
}
.select-plan-details{
  width: 100%;
  height: auto;
  background-color: #F3F5F7;
  padding-bottom: 50px;
}
.user-details-show{

  display: flex;
  justify-content: center;
}
.user-details-show-center{
  width: 70%;
}
.user-show-detail{
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
}
.user-show-detail h1{
  color: #28224B;
  font-weight: bold;
  padding-bottom: 20px;
}
.user-show-detail h1 span{
  color: #7B808D;
}
.user-p-number{
  width: 100%;
  height: auto;

}
.user-p-number-detail{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
}
.user-p-number-detail label{
  font-weight: normal;
  font-size: 14px;
  color: #7B808D;
  padding-bottom: 7px;
}
.user-p-number-detail label img{
  padding-left: 10px;
}
.black-p-number{
  width: 40%;
  height: auto;
  background-color: #28224B;
  padding:20px 10px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  position: relative;
}
.black-p-number p{
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.black-p-number  img{
  width:auto;
  height: auto;
  padding-top: 7px;
  position: absolute;
  right: 10px;
}
.select-plan-info{
  width: 70%;
  height: auto;
  padding: 30px;
  background-color: #fff;
  
}
.select-paln-info-content{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.select-paln-info-content .first{
  color: #28224B;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0px;
}
.select-paln-info-content .sec{
color: #7B808D;
font-weight: normal;
font-size: 14px;
}
.plan-select-logo img{
  padding-bottom: 5px;
}
.plan-select-logo p{
  color: #7B808D;
font-weight: normal;
font-size: 14px;
}
.all-plan{
  width: 70%;
  height: auto;
  background-color: #fff;
  padding: 0px 25px 20px 25px;
}
.choose-one-plan{
  width: 100%;
  height: auto;
  border: 1px solid #F3F5F7;
  display: flex;
  flex-direction:row;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 20px;
}
.choose-one-plan:hover, .choose-one-plan:active, .choose-one-plan:focus{
background-color: #DB006A;

}
.choose-one-plan:hover label .verizon, .choose-one-plan:hover label .instant-refill{
  color: #fff;
}
.choose-one-plan label{
  display: flex;
  flex-direction: column;
}
.choose-one-plan label .verizon{
  color: #28224B;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}
.choose-one-plan label .instant-refill{
  color: #7B808D;
  font-size: 14px;
  font-weight:normal;
  margin-bottom: 0px;
}
.choose-one-plan .form-check{
  padding:15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.choose-one-plan .form-check .form-check-input{
  float: right;
  position: absolute;
  right: 11px;
  top: 26px;
}
.choose-one-plan .form-check-input:checked {
  background-color: #DB006A;
    border-color: #fff;
}
.home-continue-btn{
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 30px 0px;
}
.continue button{
  width: 100%;
  padding: 15px;
  background: rgba(182, 194, 206, 0.5);
  border-radius: 4px;
  border: unset;
}
.continue  a button{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.continue button:hover{
  background-color: #DB006A;
  color: #fff;
}

@media only screen and (max-width:1200px) {
  .black-p-number{
    width: 50%;
  }
}
@media only screen and (max-width:992px) {
  .user-details-show-center{
    width: 100%;
  }
  .select-plan-info{
    width: 100%;
  }
  .all-plan {
  width: 100%;
  }
  .home-continue-btn{
    width: 100%;
  }
  .black-p-number{
    width: 45%;
  }
}
@media only screen and (max-width:768px){
  .select-plan-details{
    background-color: #fff;
  }
  .black-p-number{
    width: 100%;
  }
  .select-paln-info-content p{
    text-align: center;
  }
  .plan-select-logo{
    text-align: center;
    margin-top: 0px;
   
  }
  .continue-btn{
    width: 85%;
  }
}

/*..............checkout.html page css.................*/

.checkout{
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}
.summary{
  width: 100%;
  display: flex;
  justify-content: center;
}
.summary-detail{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.summary-detail p{
  font-weight: bold;
  color: #DB006A;
  font-size: 24px;
}
.summary-p-number{
  width: 100%;
  height: auto;
}
.summary-p-number-detail{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.summary-p-number-detail label{
  font-weight: normal;
  font-size: 14px;
  color: #7B808D;
  padding-bottom: 7px;
 
}
.summary-p-number-detail label img{
  padding-left: 10px;
}
.summary-black-p-number{
  width: 100%;
  height: auto;
  background-color: #28224B;
  padding:20px 10px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  position: relative;
}
.suumary-black-p-number-paragraph{
  display: flex;
  flex-direction: column;
}
.suumary-black-p-number-paragraph .summary-ph-number{
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
}
.suumary-black-p-number-paragraph .summary-versizon{
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0px;
}

.suumary-black-p-number-paragraph .summary-versizon span{
  color: #7B808D ;
  font-size: 14px;

}
.summary-black-p-number img{
  width: auto;
  position: absolute;
  padding-top: 10px;
  right: 10px;
}
.payment-methods{
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.payment-method{
  width: 100%;

}
.payment-method p{
  color: #28224B;
  font-weight: bold;
  font-size: 16px;
 
}
.select-payment-method .form-check{
  background-color: #F3F5F7;
  padding: 15px 34px;
  border-radius: 4px;
}
.select-payment-method .form-check-input:checked {
  background-color:#DB006A;
}
.select-payment-method .form-check-input:checked .form-check{
  background-color: #ED80B5;
  border-color: #DB006A;
}
.select-payment-method .form-check-input{
  border: unset;
 margin-right: 15px;
}
.paypal-payment{
  margin-top: 10px;
}
.ios-payment{
  text-align: center;
  border-radius: 4px;
  background-color: #000;
  padding: 15px 0px;
  margin-top: 10px;
}
.g-payment{
  text-align: center;
  border-radius: 4px;
  border: 1px solid #000;
  padding: 15px 0px;
  margin-top: 10px;
}
.samsung-payment{
  text-align: center;
  border-radius: 4px;
  background-color: #000;
  padding: 15px 0px;
  margin-top: 10px;
}
.payment-details{
  width: 100%;
  display: flex;
justify-content: center;

}
.payment-form-detail{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #F3F5F7;
  padding: 15px 20px;
  border-radius: 4px;
}
.payment-form-detail .payment-title{
  color: #DB006A;
  font-size: 24px;
  font-weight: bold;
}
.payment-form-detail .card-info-title{
  color: #28224B;
  font-size: 16px;
  font-weight: bold;

}
.card-info-cardname{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.card-info-cardname label{
  font-size: 14px;
  color: #7B808D;
  padding-bottom: 10px;
}
.card-info-cardname .form-control{
  width: 100%;
  padding: 15px 0px;
  border: unset;
  border-top-left-radius:4px !important;
  border-bottom-left-radius:4px !important;
  border-radius: 4px;

}
.card-info-cardnumber{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.card-info-cardnumber label{
  font-size: 14px;
  color: #7B808D;
  padding-bottom: 10px;
}
.card-info-cardnumber .form-control{
  width: 100%;
  padding: 15px 0px;
  border: unset;
  border-top-left-radius:4px !important;
  border-bottom-left-radius:4px !important;
  border-radius: 4px;
}
.exp-date{
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}
.exp-date .form-control{
  width: 100%;
  padding: 15px 0px;
  border: unset;
  border-top-left-radius:4px !important;
  border-bottom-left-radius:4px !important;
  border-radius: 4px;
}
.exp-date label{
  font-size: 14px;
  color: #7B808D;
  padding-bottom: 10px;
}
.cvc{
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}
.cvc .form-control{
  width: 100%;
  padding: 15px 0px;
  border: unset;
  border-top-left-radius:4px !important;
  border-bottom-left-radius:4px !important;
  border-radius: 4px;
}
.cvc label{
  font-size: 14px;
  color: #7B808D;
  padding-bottom: 10px;
}
.billing-information{
  margin-top: 20px;
}
.Billing-title{
  color:#28224B;
  font-size: 16px;
  font-weight: bold;

}
.card-info-address{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.card-info-address .form-control{
  width: 100%;
  padding: 15px 0px;
  border: unset;
  border-top-left-radius:4px !important;
  border-bottom-left-radius:4px !important;
  border-radius: 4px;
}
.card-info-address label{
  font-size: 14px;
  color: #7B808D;
  padding-bottom: 10px;
}
.card-info-Apt {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.card-info-Apt .form-control{
  width: 100%;
  padding: 15px 0px;
  border: unset;
  border-top-left-radius:4px !important;
  border-bottom-left-radius:4px !important;
  border-radius: 4px;
}
.card-info-Apt  label{
  font-size: 14px;
  color: #7B808D;
  padding-bottom: 10px;
}
.card-info-City {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.card-info-City .form-control{
  width: 100%;
  padding: 15px 0px;
  border: unset;
  border-top-left-radius:4px !important;
  border-bottom-left-radius:4px !important;
  border-radius: 4px;
}
.card-info-City  label{
  font-size: 14px;
  color: #7B808D;
  padding-bottom: 10px;
}
.card-info-State{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.card-info-State .form-control{
  width: 100%;
  padding: 15px 0px;
  border: unset;
  border-top-left-radius:4px !important;
  border-bottom-left-radius:4px !important;
  border-radius: 4px;
}
.card-info-State  label{
  font-size: 14px;
  color: #7B808D;
  padding-bottom: 10px;
}
.card-info-phone{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.card-info-phone .form-control{
  width: 100%;
  padding: 15px 0px;
  border: unset;
  border-top-left-radius:4px !important;
  border-bottom-left-radius:4px !important;
  border-radius: 4px;
}
.card-info-phone  label{
  font-size: 14px;
  color: #7B808D;
  padding-bottom: 10px;
}
.card-info-check-number{
  margin-top: 10px;
}
.card-info-check-number .form-check-input:checked{
  background-color: #DB006A;
  border-color: #DB006A;
}
.card-info-check-number label{
  font-size: 14px;
  color: #28224B;
}
.accept{
  width:100%;
  text-align: justify;
  margin-top: 15px;
}
.accept p{
  color: #7B808D;
  font-size: 14px;
}
.accept p span{
  color: #28224B;
  font-weight: bold;
}
.card-info-term{
  margin-top: 10px;
}
.card-info-term .form-check-input:checked{
  background-color: #DB006A;
  border-color: #DB006A;
}
.card-info-term label{
  font-size: 14px;
  color: #28224B;
}
.send-payment-btn{
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.send-payment{
  width: 100%;
}
.send-payment button{
  width: 100%;
padding: 15px 10px;
background: rgba(182, 194, 206, 0.5);
border: unset;
}
.send-payment  a button{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.send-payment button a img{
  padding-left: 20px;
  float: right;
}
.send-payment button:hover, .send-payment button:focus{
  background-color: #DB006A;
 color: #fff;
} 

.modal-header{
  border-bottom: unset;
}
.modal-title{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal-header h5{
  color: #28224B;
  font-weight: bold;
}
.modal-header p{
  font-size: 14px;
  color: #7B808D;

}
.modal-body{
  text-align: center;
  border-bottom: unset;
}
.modal-body p{
  font-size: 16px;
  color: #28224B;
}
.modal-footer{
  border-top: unset;
 justify-content: center;

}
.modal-footer button{
  width: 30%;
  background-color:#DB006A;
  color: #fff;
  padding: 10px 0px;
  font-weight: bold;
}
@media only screen and (max-width:992px){
  .summary-detail{
    width: 100%;
  }
  .payment-form-detail{
    width: 100%;
  }
}
@media only screen and (max-width:768px){
  .summary-detail{
    width: 100%;
  }
  .payment-form-detail{
    width: 100%;
  }
}
/* ................home.html page css................. */
.refill-new-history{
width: 100%;
background-color: #F3F5F7;
}
.refill-history{
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 25px 35px;
}
.refill-history p{
  color: #DB006A;
  font-size: 24px;
  font-weight: bold
}
.select-from-history a{
text-decoration: none;
}
.show-refill-history{
  width: 100%;
  border: 1px solid #F3F5F7;
  display: flex;
  flex-direction: row;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  margin-top: 10px;
}
.payment-img {
  width: auto;
  height: 100%;
  border-radius: 4px;
  background-color: #F3F5F7;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  padding: 7px 5px;
}
.right-arrow-refill{
  height: auto;
  position: absolute;
  right: 45px;
  top: 25px;
  
}
.refill-plan-detail{
  display: flex;
  flex-direction: column;
  padding:0px 20px;
}
.refill-plan-detail .first{
color: #28224B;
font-weight: bold;
margin-bottom: 0px;
font-size: 16px;
}
.refill-plan-detail .sec{
color: #7B808D;
font-size: 14px;
margin-bottom: 0px;
}
.new-refill-section{
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 25px 35px
}
.select-plan-info-refill{
  width: 100%;
}
.select-paln-info-content-refill{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.select-paln-info-content-refill .first{
  color: #DB006A;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0px;
}
.select-paln-info-content-refill .sec{
color: #7B808D;
font-weight: normal;
font-size: 14px;
}
.new-refill{
  width: 100%;
  background-color: #fff;
  padding: 25px 35px;
  border-radius: 4px;
}
.home-continue-btn-refill{
  width: 100%;
  display: flex;
justify-content: center;
}
.home-continue-btn-refill button{
  margin-top: 20px;
}
.new-refill-res-btn{
 display: none;

}
@media only screen and (max-width:767px){
  .new-refill-res-btn{
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;  
  }
  .new-refill-btn{
    width: 100%;
  
  }
  .new-refill-btn button{
    width: 100%;
    padding: 15px;
    background: rgba(182, 194, 206, 0.5);
    border-radius: 4px;
    border: unset;
    margin-top: 20px;
  }
  .new-refill-btn button:hover,   .new-refill-btn button:focus{
    background-color: #DB006A;
    color: #fff;
  }
  .new-refill-btn a button {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
   text-decoration: none;
  }
  .home-continue-btn-refill{
    display: none;
  }
  .refill-new-history{
    background-color: unset;
  }
  .new-refill-section{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .new-refill-title{
    display: flex;
    flex-direction: row;
  }
  .new-refill-you-title{
    width: 100%;
    text-align: center;
  }
  .new-refill-you-title h2{
    font-family: 'satoshi';
    font-weight: bold;
    color: #28224B;
  
    
  }
  .new-refill-you-title p{
    color: #7B808D;
    font-size: 16px;
  }
  /* .back-link-arrow{
  width: 5%;
  height: auto;
  position: absolute;
  left: 115px;
  
  } */
  .back-link-arrow img{
    padding-top: 20px;
  }
  .new-refill-select-plan{
    width:100%;
    text-align: center;
  }
  .new-refill-duration p{
    color: #7B808D;
    font-size: 14px;
  }
  .new-refill-home-continue-btn-refill{
    display: flex;
    justify-content: center;

  }
}

/* ..............payment-success.html page css...................*/
.check-circle{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.payment-success-content{
  width: 100%;
  display: flex;
text-align: center;
  flex-direction: column;
}
.back-to-home-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.payment-title{
  color: #28224B;
  font-size: 32px;
  font-weight: bold;
}
.payment-title-content{
  color: #7B808D;
  font-size: 14px;
}
.back-to-home a button{
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.back-to-home  button{
  background: rgba(182, 194, 206, 0.5);
  padding: 15px;
  border-radius: 4px;
  
}

.back-to-home button:hover, .back-to-home button:focus{
  background-color: #DB006A;
  border: unset;
  color: #fff;
}

@media only screen and (max-width:767px){
  .back-to-home {
    width: 100%;
  }
  .back-to-home button{
    width: 100%;
  }
}
/*  
.logos-company{
  width: 100%;
  height: auto;
  border: 1px solid #EFEFED;
  border-radius: 4px;
  align-items: center;
  padding: 24px 25px;
  gap: 10px;
  offset: 3;
  display: flex;
  justify-content: center;
}


.heading h1{
  font-family: 'Satoshi';
  font-weight: bold;
  color: #28224B;
  display: flex;
justify-content: center;
}
.heading p{
  font-family: 'Satoshi';
  color: #7B808D;
  display: flex;
justify-content: center;
}

.continue{
  width: 10%; 
  margin: 0px auto;
}
.continue button{
  width: 100%;
font-family: 'satoshi';
font-weight: bold;
font-size: 16px;
background-color: #DB006A;
color: #fff;
border-radius: 4px;
text-align: center;
padding: 15px 0px;
}

@media only screen and (max-width:992px){
  .logos-company{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

}  */


/* .continue{
  width: 10%; 
  margin: 0px auto;
}
.continue button{
  width: 100%;
font-family: 'satoshi';
font-weight: bold;
font-size: 16px;
background-color: #DB006A;
color: #fff;
border-radius: 4px;
text-align: center;
padding: 15px 0px;
}
@media only screen and (max-width:992px){
  .logos-company{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
  }
  .continue{
    width: 30%;
  }
  .res{
    margin-top: 5;
  }
  .sr{
    margin-top: 0;
  }
  .keyboard-table{
    display: block;
  }
  .m-number-page input{
    display: flex;
   justify-content: right;
  }
 
}

.m-number-page{
  width: 30%; 
  margin: 0px auto;
}
.m-number-page input{
  width: 100%;
  border: 0;
  color:#7B808D;
  font-size: 'Satoshi';
  font-size: 2rem;
}


.keyboard{
  width: 100%;
  height: auto;
  border: 1px solid #EFEFED;
  background: rgba(243, 245, 247, 1);
  ;
  border-radius: 4px;
  align-items: center;
  padding: 24px 25px;
  gap: 10px;
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .keyboard-table {
      display: none;
  }
} */
.logos-company{
  width: 100%;
  height: auto;
  border: 1px solid #EFEFED;
  border-radius: 4px;
  align-items: center;
  padding: 24px 25px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
/* .heading img{
  padding-top: 20px;
} */
.heading{
  margin-top: 20px;
}
.heading-img{
  width: 5%;
height: auto;
position: absolute;
left: 115px;
padding-top: 10px;
}
.heading h2{
  font-family: 'Satoshi';
  font-weight: bold;
  color: #28224B;
  display: flex;
justify-content: center;
}
.heading p{
  font-family: 'Satoshi';
  font-weight: bold;
  color: #7B808D;
  display: flex;
justify-content: center;
}
.carrier-continue-btn{
  width: 100%;
  display: flex;
  justify-content: center;

}
.carrier-continue a button{
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.carrier-continue button{
  margin-top: 3rem;
  padding: 15px 30px;
  background: rgba(182, 194, 206, 0.5);
  border-radius: 4px;
  border: unset;
}
.carrier-continue button:hover, .carrier-continue button:focus{
  background-color: #DB006A;
  border: unset;
  color: #fff;
}
.carrier-continue button a{
  font-family: 'satoshi';
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.enter-mobile-number{
  width: 100%;
  display: flex;
  justify-content: center;
}
.enter-mobile-btn-continue button{
  margin-top: 3rem;
  padding: 15px 30px;
  background: rgba(182, 194, 206, 0.5);
  border-radius: 4px;
  border: unset;
  font-weight: bold;
  color: #fff;
}
.enter-mobile-btn-continue a button {
  font-family: 'satoshi';
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.enter-mobile-btn-continue button:hover, .enter-mobile-btn-continue button:focus{
  background-color: #DB006A;
  border: unset;
  color: #fff;
}
@media only screen and (max-width:767px){
  .carrier-continue button{
    width: 100%;
  }
  .carrier-btn{
    width: 100%;
  }
  .heading img{
    padding: 0;
  }
  .heading h2{
    padding-top:20px;
  }
  .heading p{
    text-align: center;
  }
  .enter-mobile-btn-continue button{
    width:100%;
  }
  .enter-mobile-btn{
    width: 100%;
  }
}
@media only screen and (max-width:992px){
  .logos-company{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
  }
  /* .continue{
    width: 30%;
  }
  */
  .keyboard-table{
    display: block;
  }
  .code{
    width: 20% !important; 
    margin: 0px auto;
  }
  .code-link{
    width: 45% !important; 
    margin: 0px auto;
    font-family: 'satoshi';
    font-weight: bold;
    
  }
 
 
}
@media only screen and (max-width:767px){
  .continue{
    width: 100%;
  }
}
.m-number-page{
  width: 30%; 
  margin: 0px auto;
}
.m-number-page input{
  width: 100%;
  border: 0;
  color:#7B808D;
  font-family: 'Satoshi';
  font-size: 2rem;
}
/* .form-control2{
  color:#7B808D;
} */

.keyboard{
  width: 100%;
  height: auto;
  border: 1px solid #EFEFED;
  background: rgba(243, 245, 247, 1);
  ;
  border-radius: 4px;
  align-items: center;
  padding: 24px 25px;
  gap: 10px;
  display: flex;
  justify-content: center;
}
.delete{
  width: 100%;
  height: auto;
  background: white;
  border-radius: 4px;
  align-items: center;
  padding: 24px 25px;
  gap: 10px;
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .keyboard-table {
      display: none;
  }
}
.keyboard-link a{
color: black;
text-decoration: none;
font-family: 'Satoshi';

}
.continue-m-number{
width: 10%; 
  margin: 0px auto;

}
.continue-m-number  button{
width: 100%;
background: rgba(182, 194, 206, 0.5);
border-radius: 4px;
text-align: center;
padding: 15px 0px;
}
.continue-m-number a button{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.continue-m-number a button:hover{
  background-color: #DB006A;
  color: #fff;
  border: unset;
}
.code{
width: 20%; 
margin: 0px auto;
}
.code input{
width: 100%;
border: 0;
background-color:#fff ;
color:#DB006A;
font-family: 'Satoshi';
font-size: 2rem;
text-align: center;
}
.form-control-otp{
color:#DB006A;
}
#otp-input{
letter-spacing: 15px;

}
.code-link{
width: 12%; 
margin: 0px auto;
font-family: 'satoshi';
font-weight: bold;

}
.code-link a{
color: #28224B;
}

/* keyboard */
.keyboard{
  width: 100%;
  height: auto;
  border: 1px solid #EFEFED;
  background: rgba(243, 245, 247, 1);
  ;
  border-radius: 4px;
  align-items: center;
  padding: 24px 25px;
  gap: 10px;
  display: flex;
  justify-content: center;
}
.delete{
  width: 100%;
  height: auto;
  
  background: white;
  ;
  border-radius: 4px;
  align-items: center;
  padding: 24px 25px;
  gap: 10px;
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .keyboard-table {
      display: none;
  } 
}

.keyboard-link a{
color: black;
text-decoration: none;
font-family: 'Satoshi';
}
.continue button:hover{
background-color:#DB006A;
color: #fff;
}

.code{
width: 12%; 
margin: 0px auto;
}

.code input{
width: 100%;
border: 0;
background-color:#fff ;
color:#DB006A;
font-family: 'Satoshi';
font-size: 2rem;
}
.form-control-otp{
color:#DB006A;
}
#otp-input{
letter-spacing: 8px;

}
.code-link{
width: 12%; 
margin: 0px auto;
font-family: 'satoshi';
font-weight: bold;

}
.code-link a{
color: #28224B;
}
#amount input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.keyboard-button{
width: 20%;
height: auto;
border: 1px solid #EFEFED;
background: rgba(243, 245, 247, 1);
;
border-radius: 4px;
align-items: center;
padding: 24px 25px;
gap: 10px;
display: flex;
justify-content: center;
}
/* .keyboard-table-amount{
display: flex;
justify-content: center;
} */
.keyboard-amount{
width: 10%;
height: auto;
border: 1px solid #EFEFED;
background: rgba(243, 245, 247, 1);
;
border-radius: 4px;
align-items: center;
padding: 24px 25px;
gap: 10px;
display: flex;
justify-content: center;
}
.keyboard-delete{
width: 10%;
height: auto;

background:white;


align-items: center;
padding: 24px 25px;
gap: 10px;
display: flex;
justify-content: center;
}
.demo{
  display: flex;
  justify-content: center;
}